.heroSection {
    width: 100%;
    /* max-height: 800px; */
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.imageWrapper {
    position: relative;
    /* max-height: 800px; */
    /* display: grid; */
    width: 100%;
    height: auto;
    gap: 2rem;
}

.textSection {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 2rem 0 3rem;
}

.heroImage {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: cover;
}

.overlayContent {
    background-color: rgba(0, 0, 0, 0.401);
    padding: 2rem;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: 2;
    color: var(--brand-white);
    width: 100%;
}
.headline {
    /* font-size: 5rem; */
    font-size: clamp(2rem, 8vw, 5rem);
    font-weight: 800;
    line-height: 1.2;
}

.pText {
    font-size: 14px;
    line-height: 1.6;
}

.button {
    max-width: 200px;
    margin-top: 1rem;
}

.carouselWrapper {
    position: relative;
    overflow: hidden;
}
.embla {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.emblaContainer {
    display: flex;
}
.emblaSlide {
    flex: 0 0 100%;
    min-width: 100%;
}

.arrowButtonsContainer {
    position: absolute;
    bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    right: 1rem;
    display: flex;
    z-index: 10;
    align-content: center;
}

    @media (max-width: 768px) {
    .heroGrid {
        grid-template-columns: 1fr;
    }
    .textSection {
        grid-column: span 1;
        padding: 0 1rem;
    }
    .imageSection {
        grid-column: span 1;
        order: -1;
        width: 100%;
        height: auto;
    }
    .heroImage {
        min-height: 300px;
        object-fit: cover;
    }
}
