:root {
  --brand-white: #ffffff;
  --brand-light-gray: #e2e2e2;
  --brand-black: #000000;
  --brand-warm-yellow: #fad826;
  --brand-aqua-teal: #0091ad;
  --brand-fuchsia: #b22f93;
  --brand-creamy-beige: #f8efe0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline), Arial, Helvetica, sans-serif;
  font-weight: 700;
}
