.section {
    padding: 32px 0;
    width: 100%;
  }
  
  .title {
    text-align: center;
    margin-bottom: 32px;
  }
  
  .imageWrapper {
    position: relative;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
  }

    .imageWrapper img {
      transform: scale(0.9);
      transform-origin: center; 
      object-fit: fill;
    }
  

  .desktopView {
    display: block;
  }

  .fiftyFiftyMobileView {
    display: none;
  }

  .fiftyFiftyMobileContent {
    width: 100%;
}

.fiftyFiftyMobileImageContainer {
    width: 100%;
    padding: 16px
}

.fiftyFiftyMobileTextContainer {
    width: 100%;
    padding: 32px;
}

@media (min-width: 769px) {
  .videoWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-75%);
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  }
}


  @media (max-width: 768px) {
    
    .desktopView {
      display: none;
  }

  .fiftyFiftyMobileView{
    display: block;
    
}

  .fiftyFiftyMobileImageContainer {
    order: 1;
  }

  .fiftyFiftyMobileTextContainer {
    order: 2;
  }

  }

  .videoWrapper {
    width: 100%;
    margin-bottom: 24px;
  }

  .video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
  }

  .aspectRatio-16-9 {
    aspect-ratio: 16/9;
    max-height: 60vh;
  }
    
  .aspectRatio-4-3 {
    aspect-ratio: 4/3;
    max-height: 60vh;
  }
    
  .aspectRatio-1-1 {
    aspect-ratio: 1/1;
    max-height: 60vh;
  }
    
  .aspectRatio-9-16 {
    aspect-ratio: 9/16;
    max-height: 60vh;
  }