.carouselWrapper {
    position: relative;
    overflow: hidden;
}
.embla {
    position: relative;
    overflow: hidden;
}
.emblaContainer {
    display: flex;
}
.emblaSlide {
    flex: 0 0 100%;
    min-width: 100%;
}

.arrowButtonsContainer {
    position: absolute;
    bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    right: 2rem;
    display: flex;
    z-index: 10;
    align-content: center;
}
