.heroSection {
    /* padding: 1rem 0; */
}

.textSection {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1.5rem;
}

.headline {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.pText {
    font-size: 14px;
    line-height: 1.6;
}

.button {
    max-width: 200px;
}

.imageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
